/* Reset some common browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Smooth Scroll */
  html {
    scroll-behavior: smooth;
  }
  
  /* Body & Global Fonts */
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, rgba(255, 92, 141, 0.15), rgba(0, 0, 0, 0.05));
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: cover;
    padding-bottom: 50px;
  }
  
  /* Global Hover Styles */
  a:hover,
  button:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Smooth transitions for hover effects */
  *, *::before, *::after {
    transition: all 0.3s ease-in-out;
  }
  